<header>
    <form method="post" action="/search">
        <h2>Search Pokemon</h2>
        <div class="group" >
            <input id="name" name="search" type="text" placeholder="Pokemon Name"></input>
            <label for="name">Pokemon Name</label>
        </div>
    </form>
</header>